@keyframes ldio-np8s1k1s4yg {
  0% {
    transform: scale(1.1500000000000001);
  }
  100% {
    transform: scale(1);
  }
}
.ldio-np8s1k1s4yg div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 13.333333333333336px;
  left: 13.333333333333336px;
  background: #000000;
  animation: ldio-np8s1k1s4yg 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.3s;
}
.ldio-np8s1k1s4yg div:nth-child(2) {
  top: 13.333333333333336px;
  left: 106.66666666666666px;
  background: #fefefe;
  animation-delay: -0.2s;
}
.ldio-np8s1k1s4yg div:nth-child(3) {
  top: 106.66666666666666px;
  left: 13.333333333333336px;
  background: #000000;
  animation-delay: 0s;
}
.ldio-np8s1k1s4yg div:nth-child(4) {
  top: 106.66666666666666px;
  left: 106.66666666666666px;
  background: #f19a33;
  animation-delay: -0.1s;
}
.loadingio-spinner-cube-rqtblwtiqdc {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-np8s1k1s4yg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-np8s1k1s4yg div {
  box-sizing: content-box;
}
